<%= form_with model: @article do |form| %>

    <p>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
    </p>

    <%= form.submit %>
    
<% end %>